<header class="mt-5 masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="font-weight-bold">Welkom bij Whatsupp, {{user._firstname}}!</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="font-weight-light mb-5">Het platform waar jij veilig berichten kan versturen en ontvangen. Probeer het nu!</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" (click)="navigate('/messages')" href="javascript:void(0);">Ga naar mijn berichten &rarr;</a>
        </div>
      </div>
    </div>
  </header>
